:root {
    --default-bg: rgb(171, 168, 164);
    --Water: rgb(0, 128, 255);
    --Fire: rgb(255, 75, 75);
    --Grass: rgb(26, 167, 106);
    --Electric: rgb(255, 191, 0);
    --Poison: rgb(153, 0, 255);
    --Bug: rgb(97, 189, 58);
    --Flying: rgb(91, 181, 217);
    --Fairy: rgb(227, 85, 255);
    --Ground: rgb(144, 93, 72);
    --Psychic: rgb(255, 106, 0);
    --Fighting: rgb(105, 105, 105);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dp-off
{
    display: none!important;
}

.dp-on
{
    display: flex!important;
}
.search-bar 
{
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;    
    
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInRight {
    0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 
  


#loadingGif
{
    object-fit: contain;
    height: 150px;
   
}

.block-click
{
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.search-bar input
{
    height: 30px;
    border-radius: 20px;
    border: 0;
    background-color: aqua;
}

.pokemonGens
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}



/* .details
{
    z-index: 5;
    position:fixed;
    height: 100vh;
    width: 100vw;
     background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.049);
    -webkit-backdrop-filter: blur(12px);
backdrop-filter: blur(12px);
border: 1px solid rgba(255, 255, 255, 0.071);
}

.details img 
{
    object-fit: contain;
    height: 400px;
}

.stats 
{
    display: flex;
} */








.pokemonGens button
{
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
#pokedex {
    min-height: 50vh;
    
    color: #fff;
}

.pokemon-card
{
    margin-top: 31px;
    background-color: rgb(23, 160, 98);
    background-image: url(img/pngfind.com-pokeball-png-1230253.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 25px;
    width: 400px;
    height:  400px;
    
    border-radius: 180%;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    padding: 25px 30px;
    cursor: pointer;
    transition: 0.7s;
    
}

.pokemon-card h1 
{
    font-size: 30px;
}

.dont-exist
{
    margin-top: 60px;
    background-color: rgb(142, 151, 147);
    background-image: url(img/pngfind.com-pokeball-png-1230253.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 25px;
    width: 400px;
    height:  400px;
    
    border-radius: 180%;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    padding: 25px 30px;
    cursor: pointer;
    transition: 0.7s;
}


.dont-exist img
{
    width: 150px;
    height: 200px;
    object-fit: contain;
    position:absolute ;
    top: 24%;
}

.upper-text
{
    margin-top: 10px;
}

.pokemon-card:hover 
{
    transform: scale(1.08);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.poke-id
{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokemon-card img 
{
   
    width: 150px;
    height: 180px;
    object-fit: contain;
    position:absolute ;
    top: 27%;
    
}



.pokemon-type
{
    position: absolute;
    bottom: 15%;
    background-color: rgb(51, 116, 116);
    border-radius: 20px;
    width: 40%;
    text-align: center;
    height: 24px;
}

.main-bg
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    min-height: 50vh;
    background-color: rgba(87, 87, 87, 0.673);
    color: #fff;
    padding: 30px 40px 110px 40px;
    padding-top: 150px;
    
}

 .main-bg2
{ 
   position: absolute;
   
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
    
    /* background-color: rgba(87, 87, 87, 0.673); */
    color: #fff;
    

} 







/* Styling for clicked pokemon */
.bigImageContainer {
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.15);
-webkit-backdrop-filter: blur(13px);
backdrop-filter: blur(13px);
border: 1px solid rgba(255,255,255,0.075);
}



.currentstats
{
    object-fit: contain;
    height: 300px;
    width: 80%;
    background-color: rgb(254, 254, 254);
    height: 50%;
    width: 50%;
    border-bottom-right-radius: 20px;
   
    
}

#currentimage 
{
    object-fit: contain;
    height: 300px;
    width: 80%;
    
}

.currentimage 
{
    background-color: rgb(255, 72, 0);
    height: 50%;
    width: 50%;
    margin-top: 20px;
    border-top-left-radius: 40px;
    
}

.popUp-upper
{
    display:flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.d-none 
{
    display: none;
}



.buttons i 
{
    font-size: 2rem;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
}


.buttons i:hover {
    transform: scale(1.1);
    transition: 125ms;
}